*
{
    font-family: 'Montserrat', sans-serif;

}

.introduction
{
    width: 100%;
    text-align: center;
    padding: 30px;
    margin-top: 40px;
}

.introduction h1
{
    color: rgb(0, 150, 120);
    padding: 20px;
    font-size: 40px;
    font-weight: normal;
    text-transform: uppercase;
    
}

.introduction p{
    color: #000000;
    padding: 20px 200px 50px 200px;
    
    
}

.introduction a
{
    background-color:  rgb(0, 150, 120);
    padding: 10px 30px;
    color: #ffffff;
    text-decoration: none;
    margin-top: 20px;
}

.introduction a:hover
{
    background-color: rgba(0, 214, 170, 1);
}

.services
{
    margin: 40px 80px;
    display: inline-block;
    text-align: center;
}

.service-row
{
    width: 30%;
    margin: 15px 18px;
    background-color: rgb(0, 150, 120);
    float: left;
  
}


.service-image img
{
    width: 100%;
    height: 250px;
}

.service-description
{
    padding: 30px;
    text-align: left;
    color: #ffffff;
}



.service-description h2
{
    padding: 0px 15px 15px 0px;
}

.journey
{           
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 25px;
    margin: 50px 100px;
}

.fa-calendar-alt, .fa-handshake, .fa-smile-beam, .journey-number, .journey-position
{
    padding: 15px;   
}

.contact
{
    text-align: center;
    margin: 20px;
    font-size: 20px;
}

#contact-us p a
{
    
    padding: 15px 40px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
}

#contact-us p a:hover
{
    background-color: rgb(0, 150, 120);
    padding: 15px 40px;
    text-decoration: none;
    color: #ffffff;
}


#contact-start span
{
    
    padding: 15px 40px;
}

footer
{
    height: 200px;
    background-color: #000000;
    margin-top: 100px;
}


/*home media query*/

@media screen and (max-width: 400px)
{
    
    .service-row
    {
        clear: both;
        width: 100%;
        margin-left: 0px;
    }

    .services
    {
        margin: 10px;
        padding: 10px;
        
    }

    .contact
    {
        margin: 20px;
        font-size: 20px;
        width: 100%;
        position: relative;
        left: -15px;
        
    }
    
    #contact-us p a
    {
        
        padding: 15px;
        text-decoration: none;
    }
    
    #contact-start span
    {
        width: 100%;
        padding: 10px;
        
    }
   

    .service-image img
    {
        height: 150px;
    }

    .journey-section
    {
       font-size: 20px;
       
    }

}


@media (min-width: 400px) and (max-width:767px)
{
    .service-row
    {
        clear: both;
        width: 100%;
        margin-left: 0px;
    }

    .services
    {
        margin: 10px;
        padding: 10px;
        
    }

} 

@media (min-width: 768px) and (max-width:953px) 
{
    .service-row
    {
        clear: both;
        width: 60%;
        position: relative;
        left: 100px;
    }

    
}



@media screen and (max-width: 953px) 
{
    .introduction p
    {
        display: flex;
        justify-content: center;
        padding: 20px;
        padding-bottom: 50px;
    }

    

}


@media (min-width: 953px) and (max-width:1024px) 
{
    .service-row
    {
        clear: both;
        width: 60%;
        position: relative;
        left: 150px;
    }

    
}

@media (min-width: 1025px) and (max-width:1240px) 
{
    .service-row
    {
        clear: both;
        width: 50%;
        position: relative;
        left: 250px;
    }

    
}


/*
.contact
{
    text-align: center;
    color: #ffffff;
    margin: 20px;
    font-size: 20px;
}

#contact-us p a
{
    background-color: rgb(0, 150, 120);
    padding: 15px 40px;
    text-decoration: none;
    color: #ffffff;
}

#contact-start span
{
    background-color: rgb(0, 150, 120);
    padding: 15px 40px;
}
*/



