header
{
    position: fixed;
}

.nav-bar
{
    opacity: 1;
}

.itsec-heading
{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 60px;
}

.itsec-heading h1
{
    padding: 160px 0px 10px 0px;
    color: rgb(0, 150, 120);
    border-bottom: 5px solid rgb(1, 126, 101);
}

.itsec-services
{
    margin-top: 20px;
    text-align: center;
    color: #000;
    font-size: 20px;
    margin-bottom: 50px;
}

.service-block
{
    
    margin: 50px 150px;
    margin-top: 80px;
}

.service-description
{
    width: 30%;
    margin-right: 25px;
    float: left;
}

.fa-shield-alt, .fa-user-lock, .fa-lock 
{
    color: rgb(0, 150, 120);

}

.service-name
{
    
    background-color: rgb(0, 150, 120);
    color: white;
    padding: 10px 20px;
    margin: 0px 30px;
}

.service-icon
{
    font-size: 55px;
    padding-bottom: 50px;
}

.itsec-content
{
    padding-top: 100px;
    padding-bottom: 50px;
    clear: both;
    color: #000;
    text-align: center;
}

.itsec-content p
{
    font-size: 25px;
    white-space: pre;
}

.itsec-introduction p
{
    padding: 30px;
    text-align: center;
}

.itsec-introduction a
{
    text-decoration: none;
    background-color: rgba(0, 214, 170, 1);
    color: #000;
    padding: 10px 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.itsec-introduction a:hover
{
    color: #fff;
}

.itsec-introduction
{
    background-color: rgb(0, 150, 120);
    color: rgb(255,255,255);
    font-size: 20px;
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
    margin-bottom: 50px;
}

footer
{
    height: 200px;
    background-color: #000;
}


/*itsec media query*/

@media screen and (max-width: 1048px)
{
    .service-description
    {
        
        margin-bottom: 70px;   
    }

    .itsec-services
    {
        text-align: center;
    }


    .service-name
    {
        width: 150px;
        
    }
}

@media screen and (max-width: 767px)
{

    .itsec-heading h1
    {
        padding-left: 20px;
    }
    .itsec-content p
    {
        font-size: 17px;
        white-space: normal;
    }

    .itsec-introduction
    {
        width: 90%;
        
    }


    .itsec-introduction
    {
        margin-left: auto;
        margin-right: auto;
    }
    
    .service-block
    {
        margin: 50px 50px;
    }

    .service-description
    {
        clear: both;
    }

    .itsec-content
    {
        padding-top: 20px;
    }

}

@media (min-width: 320px) and (max-width:400px)
{
    .service-description
    {
        clear: both;
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media (min-width: 400px) and (max-width:767px)
{
    .service-description
    {
        clear: both;
        margin-left: 25%;
        margin-right: 20%;
    }
}


